{% extends "template.html" %}
{% block content %}
<div>
    <a class="btn btn-danger" href="/logout">Logout</a>
</div>
<div class="add-task">
    <h3>Add a new appointment:</h3>
        <form class="form-horizontal" action="{{ url_for('new_appointment') }}" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label >Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Name">
                <span class="error">
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
            <div class="form-group">
                <label>Due Date (yyyy-mm-dd):</label>
                <input type="text" name="due_date" class="form-control" placeholder="i.e. 2015-03-15 19:30:00">
                <span class="error">
                    {% if form.due_date.errors %}
                        {% for error in form.due_date.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
            <div class="form-group">
                <label>Priority:</label>
                <select name="priority" width="100px">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                </select>
            </div>
             <div class="form-group">
                <button type="submit" class="btn btn-success" value="Save">Save</button>
             </div>
        </form>
</div>
<div class="entries">
    <br>
    <br>
    <h3>Future appointments:</h3>
    <div class="datagrid">
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment</th>
                    <th>Due Date</th>
                    <th>Priority</th>
                    <th>Posted Date</th>
                    <th>Posted By</th>
                </tr>
            </thead>
            {% for o in future_appointments %}
            <tr>
                <td>{{ o.name }}</td>
                <td>{{ o.due_date }}</td>
                <td>{{ o.priority }}</td>
                <td>{{ o.posted_date }}</td>
                <td >{{ o.poster.name }}</td>
                <td>
                    <a href="{{ url_for('delete_entry', appointment_id = o.appointment_id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <br>
</div>
<div class="entries">
    <h3>Past appointments:</h3>
    <div class="datagrid">
        <table class="table">
            <thead>
                <tr>
                    <th>Appointment</th>
                    <th>Due Date</th>
                    <th>Priority</th>
                    <th>Posted Date</th>
                    <th>Posted By</th>
                </tr>
            </thead>
            {% for c in past_appointments %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.due_date }}</td>
                    <td>{{ c.priority }}</td>
                    <td>{{ c.posted_date }}</td>
                    <td >{{ c.poster.name }}</td>
                    <td>
                        <a href="{{ url_for('delete_entry', appointment_id = c.appointment_id) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}